/*
Kyle Kenworthy
Javascript Final Project
5/19/2017
*/

html, body {
    height:100%;
    width:100%;
    margin:0;
    background-color: black;
}
.box {
    background-color:#eee;
    height:100%;
    width:900px;
    margin:0 auto;
    position:relative;
}
.topbar {
    display:flex;
    padding:20px;
    min-height:50px;
    vertical-align: middle;
    background-color:#ddd;
}
h2 {
    margin:10px;
    float:left;
    
}
ul{
    padding:0;
}
li{
    margin-left:20px;
    
    list-style:none;
}

.textpanel {
    display:flex;
    padding:20px;
    min-height:10px;
    width:860px;
    background-color:#eee;
    justify-content: center;
    text-align: center;
}
.cpanel {
    display:flex;
    padding:20px;
    min-height:10px;
    width:860px;
    background-color:#eee;
    justify-content: center;
}
.footer {
    display:flex;
    padding:20px;
    min-height:10px;
    width:860px;
    background-color:#ddd;
    justify-content: center;
}

/*instructions panel*/
.ipanel {
    display:flex;
    margin-left:10px;
    min-height:50px;
    background-color:#eee;
}
/*form panel*/
.fpanel {
    display:flex;
    padding:20px;
    min-height:50px;
    background-color:#eee;
}
/*table panel*/
.tpanel {
    display:flex;
    min-height:50px;
    background-color:#eee;
}
.btn {
    display:flex;
    min-height:50px;
    background-color:#eee;
}
.name {
    min-width:12em;
}
.boolean {
    min-width:3em;
}
table {
    border:1px solid black;
    border-collapse:collapse;
    margin:0 auto;
}
td {
    border:1px solid black;
    padding:5px;
}
#solvebtn {
    margin:10px auto;
}
#next {
    margin:10px auto;
}
.red {
    color:red;
}
.orange {
    color:orange;
}
.yellow {
    color:yellow;
}
.green {
    color:green;
}
.blue {
    color:blue;
}
.indigo {
    color:indigo;
}
.violent {
    color:violet;
}

